@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white; 
    font-family: "DM Sans", serif;
    background-color: #3d0066;
}
header {
    font-size: 35px;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
    display: block;
    padding: 20px;
}
header ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header li {
    margin: 0px 30px;
}
header li a {
    font-family: Pacifico;
    text-decoration: none;
    transition: 1s ease;
    cursor: pointer;
    /* color: #fc3fb4; */
    color: white;
    font-weight: 500;
    font-size: 28px;
    transition: 1s ease;
}

header li a:hover {
    color: purple;
    text-decoration: underline;
}
section {
    padding: 60px;
    padding-left: 100px;
    padding-bottom: 90px;
}
hr {
    margin: 0px 100px;
}
.content h2 {
    font-size: 65px;
    margin-top: 120px;
}
.content p {
    font-size: 1.8rem;
    width: 60rem;
    color: #ff66c4;
}
.content a {
    color: #fc3fb4;
}

::selection {
    background-color: purple;
}

.skill {
    font-size: 45px;
    margin-top: 100px;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.skill h2 {
    color: #fff;
}
.skill h4 {
    font-size: 1.4rem;
    color: #ff66c4;
}

 
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .container .glass {
    position: relative;
    width: 180px;
    height: 200px;
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    backdrop-filter: blur(10px);
  }
  
  .container .glass::before {
    content: attr(data-text);
    position: absolute;
    font-size: 20px;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .container .glass svg {
    font-size: 2.5em;
    fill: #fff;
    margin-bottom: 30px;
  }
  

.grid-container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

footer {
    background-color: rgb(147, 95, 167);
    backdrop-filter: blur(2px);
    padding: 30px;
    text-align: center;
}
footer .logos {
    margin-bottom: 10px;
}
footer a {
    cursor: pointer;
    width: 100%;
}
footer ion-icon {
    font-size:32px;
    margin: 5px 10px;
    transition: .5s ease;
    color: white;
}
footer ion-icon:hover {
    /* transform: translate(-5%,-5%); */
    scale: 1.1;
}

footer p {
    text-align: center;
    font-size: 1.2rem;
}


@media only screen and (max-width: 600px) {
header {
    font-size: 15px;
    padding: 10px;
}
header li {
    margin: 0px 30px;
}
header li a {
    font-size: 18px;
}

section {
    padding: 10px;
    padding-left: 30px;
    padding-bottom: 100px;
}

.content h2 {
    font-size:25px;
    margin-top: 50px;
}
.content p {
    font-size: 12px;
    width: 23rem;
}
.skill {
    font-size: 45px;
    margin-top: 100px;
    padding-left: 100px;
    padding-bottom: 300px;
}
.skill h2 {
    color: #fff;
    font-size: 30px;
}
.skill h4 {
    font-size: 1.4rem;
    color: #ff66c4;
}

.lists ul {
    font-size: 25px;
}

.grid-container {
    display: grid;
    grid-template-columns: 24% 25% 20% 15% 20%;
}

}